.a1{
    height: 400px;
    width: 400px;
    margin-top: 0;
    border-radius: 100%;
    background-color: rgb(255, 166, 0);
    position: absolute;
    display: inline-block;
}

.a2{
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 100%;
    margin-top: 70px;
    margin-left: 120px;
}

.a3{
    height: 40px;
    width: 40px;
    margin-top: -36px;
    background-color: black;
    border-radius: 100%;
    margin-left: 250px;
}

.a4{
    background-color: rgb(255, 0, 47);
    height: 70px;
    width: 200px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    margin-left: 100px;
    margin-top: 100px;
}