<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chats</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>ALL CHATS</h3>
    <% for (chat of chats) {%>
    <div class="chat">
        <p>From : <%= chat.form %></p>
        <p>Message : <%= chat.msg %></p>
        <p>Received By:<%= chat.to %></p>
        <hr>
    </div>
    <% } %>
</body>
</html>